* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  display: flex;
  background-color: black;
  width: 1000px !important;
  height: 40px;
  border: 2px solid rgb(33, 37, 41);
}
header {
  background-color: rgb(27, 28, 29) !important;
  width: 1350px !important;
  height: 500px !important;
}
.navbarcenter {
  margin-top: 5px !important;
}
.align {
  align-items: center !important;
  justify-content: center !important;
  margin-top: 150px !important;
  margin-left: 450px !important;
  color: white;
}
img {
  width: 300px;
  height: 400px;
}

.btn1 {
  width: 150px;
  height: 40px;
  background-color: rgb(224, 225, 226) !important;
  border: none !important;
  color: rgb(111, 118, 121) !important;
  border-radius: 3px;
  font-size: 16px !important;
  cursor: pointer !important;
  font-weight: 500;
}
.btn2 {
  width: 130px;
  height: 40px;
  background-color: rgb(219, 40, 40) !important;
  border: none !important;
  color: white !important;
  border-radius: 3px;
  font-size: 16px !important;
  cursor: pointer !important;
  font-weight: 500;
}
.btn3 {
  width: 130px;
  height: 40px;
  background-color: rgb(242, 113, 28) !important;
  border: none !important;
  color: white !important;
  border-radius: 3px;
  font-size: 16px !important;
  cursor: pointer !important;
  font-weight: 500;
}
.button {
  margin-left: 470px !important;
}
.bg {
  width: 1350px !important;
  height: 150px !important;
  background-color: rgb(27, 28, 29) !important;
  text-align: center !important;
  padding: 60px !important;
}
#staralign {
  overflow: hidden;
  text-align: center;
}

#staralign::before,
#staralign::after {
  background-color: rgb(238, 238, 238);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

#staralign::before {
  right: 0.5em;
  margin-left: -50%;
}

#staralign::after {
  left: 0.5em;
  margin-right: -50%;
}
#line{
  width: 300px;
  height:0px;
  border: 1px solid red;
  display: inline-block;
}
.box {
  overflow: hidden;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.list {
  font-size: small !important;
  margin-left: 150px !important;
  font-weight: 500 !important;
}
.blue{
  color: rgb(36,94,176);
}
footer{
  background-color: black;
  padding: 30px 0 20px;
  color: white;
  position:absolute;
  width: 100%;
  
}
footer .row{
  width: 100%;
  margin: auto;  
}
.verticalline{
border-left: 1px solid grey;
height: 100px;

}
.poetry{
  display: flex;
  align-items: center !important;
  justify-content: center;
  position: absolute;
}


